<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NMESS Login</title>
  <script src="jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="processLg.js"></script>
  <link rel="stylesheet" type="text/css" href="layoutLg.css">
</head>
<body>
  <section class="login">
	<div class="titulo">Staff Login</div>
	<form action="#" method="post" enctype="application/x-www-form-urlencoded">
      <input type="text" id="txtName" placeholder="Name" autocomplete="off">
    	<input type="text" id="txtUsername" required title="Username required" placeholder="Username" data-icon="U" autocomplete="off">
        <input type="password" id="txtPassword" required title="Password required" placeholder="Password" data-icon="x">
        <div class="olvido">
        	<div class="col"><a href="#" title="Ver Carásteres">Register</a></div>
            <div class="col"><a href="#" title="Recuperar Password">Fotgot Password?</a></div>
        </div>
        <a href="#" id="btnLogin" class="enviar">Submit</a>
    </form>
</section>
</body>
</html>
